
/*STYLES GENERAUX*/
*{
    font-family: Optima, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: content-box;
}
body{
    background: #f9f9f9;
}

p{
    font-size: 1em;
    line-height: 1.5em;
}

h1 span{
    width: 30px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15vw
    text-shadow 3px 3px 0 rgba(0,0,0,0.15);
    transition: all 0.5s ease-in-out;
}
h1 span:hover{
    color: royalblue;
    transform: scale(1.5) rotate(5deg);
}

#avatar {
    transition: 0.5s ease;
}

#avatar:hover {
    transform: scale(1.08);
}

/*Pour la page de chargement */

.section{
  width: 100vw;
  height: 100vh;
  top: -70px;
  left: 0;
  position: fixed;
  display: flex;
  opacity: 1;
  background-color: grey;
  z-index: 99;
  text-align: center;
  align-items: center;
}

.loader-bars:before{

    content: '';
    display: block;
    position: center;
    left: 50px;
    width: 30px;
    height: 70px;
    background-color: black;
    animation:grow .75s linear -.5s infinite;
    animation: grow .75s linear -.5s infinite;
}

.loader-bars span{
    content:'';
    display: block;
    position: 360px;
    left: 5px;
    width: 30px;
    height: 20px;
    background-color: black;
    animation:grow .75s linear -.66s infinite;
    animation: grow .75s linear -.66s infinite;
}

@-webkit-keyframes grow{
    0%{transform: scaleY(0); opacity: 0}
    50%{transform: scaleY(1); opacity: 1 }
    100%{transform: scaleY(0); opacity: 0 }

}

/*HEADER*/
header{
    width: 100%;
   /*Pour le texte dane le head*/ 
   	padding: 10px 0px;
    box-shadow: 0px 0px 50px #217780;
}
header{
    border-bottom: 0px solid #217780;
    height: 70px;
}
header h1{
    text-align: right;
    color: black;
    font-size: 1,3em;
    width: 80%;
    margin: 5,5 auto;
}

/*SECTIONS*/

.loader-quart{
    z-index: 10; 
    font-size: 70px;
    text-align: center;
}
section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 50%;
    margin: 70px auto;
    box-shadow: 0px 0px 50px #217780;
    background-color: #fff;
    padding-bottom: 20px;
}
section h2{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%;
}

/*SECTION INFOS*/
.photo{
    text-align: center;
}
.photo img{
    width: 250px;
    height: 250px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 30px #CF6F91;
    border-radius: 100%; 
    margin-top: -80px;
}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 2 0%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}
/*SECTION EXP ET FORMATION*/
.exp{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 13px;
}
.exp-info{
    display: flex;
    flex-flow: column wrap;
}
.exp-logo{
    flex: 0 0 25%;
    max-width: 100px;
}

.exp-info{
    flex: 0 0 70%;
    margin-left: auto;
}
.exp img{
    width: 100%;
}
.exp h3{
    font-size:  1em;
}
.exp h4{
    font-size:  1em;
    font-weight: normal;
}

/*VERSION BUREAU DU CV Taille des Box*/

@media screen and (min-width: 980px){
    section{
        width: 100%;
        box-shadow: 0px 0px 10px #bbb;
    }
    
   	header h1{
        width: 80%;
    }
    .prez, .contact{
        flex: 0 0 45%;
    }
    .prez{
        border-bottom: none;
        border-right: 2px solid #ccc;
        padding-right: 20px;
        margin-left: auto;
    }
    .contact{
        padding-left: 20px;
        margin-right: auto;
    }
    .exp-logo{
        flex: 0 0 10%;
    }
    .exp-info, .exp-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }
    .interet{
        flex: 0 1 25%;
    }
}

.container {
    width: 1100px;
    margin: 0 auto;
}

/*SECTION COMPETENCES*/

.skills{
    width: 500px;
    margin: 8px;
    color: red;
}

.bar{
    background: #fff;
    height: 2px;
    border: 0px solid rgba(0,0,0,5);
    border-radius: 3px; 
    overflow: scroll;
}

.bar span{
    height: 2px;
    float: left;
    background: #AE4B50;
}

.html{
    width: 70%;
    background-color: #AE4B50;
    animation: html 25s;
}

.SEO{
    width: 60%;
    background-color: #AE4B50; 
    animation: SEO 25s;
}

.PAO{
    width: 55%;
    background-color: #AE4B50; 
    animation: PAO 25s;
}

.CSS{
    width: 30%;
    background-color: #AE4B50; 
    animation: CSS 30s;
}

.java{
    width: 10%;
    background-color: #AE4B50; 
    animation: java 30s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    70%{
        width: 70%;
    }
}

@keyframes SEO {
    0%{
        width: 0%;
    }
    60%{
        width: 60%;
    }
}
@keyframes PAO {
    0%{
        width: 0%;
    }
    55%{
        width: 55%;
    }
}
@keyframes CSS {
    0%{
        width: 0%;
    }
    30%{
        width: 30%;
    }
}

@keyframes java {
    0%{
        width: 0%;
    }
    10%{
        width: 10%;
    }
}

/*Menu centres d'intrets*/

.container3{
	word-spacing: 160px;
    margin-left: 350px;
}

.btn{
	border: 0px solid #fff;
	background: none;
	padding: 15px;
	font-size: 20px;
	font-family: "monsterrat";
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
}

.btn1,.btn2{
	color: #301952;
}


.btn1:hover,.btn2:hover{
	color: #fff;
}

.btn::before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: #B2A8C1;
	z-index: -1;
	transition: 1.5s;
}

.btn1::before,.btn3::before,.btn2::before,.btn4::before {
	top: 0;
	border-radius: 0 0 50% 50%;
}

.btn1:hover::before,.btn2:hover::before,.btn3:hover::before,.btn4:hover::before {
	height: 180%;
}

/*Social Media*/


.socialmedia a{
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #B2A8C1;
    line-height: 50px;
    border-radius: 50%;
    margin: 0 210px;
    font-size: 20px;
    transition: .5s linear;
}

.socialmedia a:hover{
    color: #B2A8C1;
    background-color: transparent;
    transform: scale(1.3);
}


@media (max-width: 750px) {
  /* For a screen < 650px, this CSS will be read 

header{
    width: 130%;
    height: 80px;
    text-align: center;
}
header h1{
    color: black;
    font-size: 17px auto;
    text-align: center;
    word-wrap: normal;
    width: 80%;
}

  .container {
    width: 900px;
    margin: 0 auto;
    flex-direction: row;
    flex-flow: row wrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
  .container3 {
    width: 10px;
    margin-left: 400px;
    margin-top: 10px;
  }
   
  h2{
    text-align: center;
  }
.btn {
   
  }
.btn1 {
    }

  .photo img{
    width: 200px;
    height: 200px;
  }
.socialmedia {
    width: 1000%;
  }

  .fab {
    text-align: center;
    display: inline-block;
    margin: 100%;
    }
}
*/  






@media (max-width: 650px) {
  /* For a screen < 720px, this CSS will be read */  

header{
    width: 130%;
    height: 80px;
    text-align: center;
}
header h1{
    color: black;
    font-size: 17px auto;
    text-align: center;
    word-wrap: normal;
    width: 80%;
}

  .container {
    width: 900px;
    margin: 0 auto;
    flex-direction: row;
    flex-flow: row wrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
  .container3 {
    width: 10px;
    margin-left: 400px;
    margin-top: 10px;
  }
   
  h2{
    text-align: center;
  }
.btn {
   
  }
.btn1 {
    }

  .photo img{
    width: 200px;
    height: 200px;
  }
.socialmedia {
    width: 1000%;
  }

  .fab {
    text-align: center;
    display: inline-block;
    margin: 100%;
    }
}







@media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */

header{
    width: 100%; 
    text-align: center;
}
header{
    height: 70px;
    width: 700px;
}
header h1{
    text-align: center;
    color: black;
    font-size: 20px;
    width: 100%;
}

section{
    justify-content: center;
    width: 60%;
    margin: 70px auto;
    padding-bottom: 10px;
}
  .container {
    width: 600px;
    margin: 0px;

  }
   .container3 {
    width: 100px;
    margin-left: 230px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  h2{
    text-align: center;
  }
.btn {
    text-align: center;
    display: inline-block;
    padding: 10px;
    width: 10%;
    margin: 20px;
  }
.btn1 {
    text-align: center;
    display: inline-block;
    width: 170%;
  }

  .photo img{
    width: 200px;
    height: 200px;
  }
.socialmedia {
    width: 1000px;
  }

  .fab {
    text-align: center;
    display: inline-block;
    margin: 100%;
    }
}
